<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTEWAVE</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: #202124; color: white;">

    {% if messages %}

        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item {% if message.tags %} {{message.tags}} {% endif %}" style="background-color: #3F3F3F; color: white;">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>

    {% endif %}

    {% block content %}


    {% endblock content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
